@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
:root[data-theme='light'] {
  --background-color: antiquewhite;;
}

:root[data-theme='dark'] {
  --background-color: rgb(15 23 42/1);
  header {
    background-color: #fafafa;
  }
  main{
    background-color: rgb(14, 6, 6);
  }
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

