@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#root {
  color: #1a202c;
}
:root[data-theme='light'] {
  --background-color: rgb(166, 247, 184);
}

:root[data-theme='dark'] {
  --background-color: #1a202c;
  color: #ffffeb;
  header {
    background-color: #90cdf4;
    color: #ffffeb;
  }

  main {
    background-color: #1a202c;
    color: #ffffeb;
    .detail-product {
      .product-info .title_products {
        color: #ffffeb;
      }
    }
  }
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}
