@import '/src/styles/mixin.scss';
.header {
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #3182ce;
  border-bottom: #100e0e;
  .nav_list {
    @include _container;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      text-decoration: none;
    }
    .form_input {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      .input_search {
        border: 1px solid #040405;
        border-right: none;
        padding: 8px 5px;
        outline: none;
        color: white;
        background-color: transparent;
        font-size: 14px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      .button_search {
        background-color: #4b5563;
        padding: 4.5px;
        border: 1px solid #6b7280;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    }
    .menu_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.menu_item:not(:last-child) {
  margin: 0px 48px 0px 0px;
}
.favorites_link {
  font-weight: 900;
  color: #fff;
}
.favorites_link:hover {
  text-decoration: underline;
}

.login_button {
  border: 2px solid #100e0e;
  min-height: 42px;
  border-radius: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 900;
  text-align: center;
  max-width: 80px;
  color: #fff;
  background-color: #6dabe4;
}

.login_button:hover {
  color: #100e0e;
  border: 2px solid #fff;
}
input::placeholder {
  color: black;
  font-size: 1.2em;
  font-style: italic;
}
