.label_input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: large;
  color: #222;
  font-weight: bold;
  font-weight: 700;
  margin:20px 0 0
}

.input {
  display: flex;
  flex-direction: column;
  padding: 6px 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  color: #222;
  margin:20px 0 0
}

.input:focus {
  outline: pink;
}
