.section {
  padding: 0.25rem;
  margin-top: 0.25rem;

  .cards_item {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 10px;
    margin-top: 10px;

    .cards_list {
      flex: 0 1 15%;
      margin: 10px;
      padding: 1rem;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        background-color: white;
        border-radius: 0.375rem;
      }

      .product_text {
        padding-top: 5px;

        .product_title {
          color: #232323;
          font-weight: bold;
        }

        .product_price {
          padding-top: 30px;
          font-weight: 600;
          font-size: 0.875rem;
          color: #232323;
        }
      }
    }
    .button{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-left: 100px;
      border-radius: 30px;
      border: 2px solid #232323;
      &.bookmarked {
        border-color: red; 
      }
      
      &:hover{
        border: 2px solid red;
      }
      .icon {
        color: black;
        transition: color 0.3s ease;
        &.bookmarked {
          border-color: red;
          color: red;
        }
        &:hover {
          color: red; 
        }
      }
    }
  }
}
