.main {
  .main_tittle {
    padding: 20px 0 0 0;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2rem;
    text-align: center;
  }

  .main_text {
    padding: 2.5rem;
    text-align: center;
  }
}
